# ==========================================
# Configuración de la Base de Datos PostgreSQL
# ==========================================
DB_HOST=localhost               # Usualmente 'localhost' para desarrollo local
DB_PORT=5432                    # Puerto por defecto de PostgreSQL
DB_NAME=tu_base_de_datos        # Nombre de la base de datos (ej. smartgym)
DB_USER=tu_usuario              # Usuario de PostgreSQL (ej. postgres)
DB_PASSWORD=tu_contraseña       # Contraseña de tu usuario en PostgreSQL

# ==========================================
# Configuración de Seguridad y Autenticación (JWT)
# ==========================================
# Ingresa una clave alfanumérica segura para firmar los tokens.
JWT_SECRET_KEY=ingresa_tu_secret_key_aqui
JWT_ALGORITHM=HS256             # Algoritmo de encriptación (HS256 es el estándar)
ACCESS_TOKEN_EXPIRE_MINUTES=30  # Tiempo de expiración del token en minutos